<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <%- include('./partials/head/links'); %>
    <%- include('./partials/head/scripts'); %>
    
    <title> Cart || Food App </title>
</head>
<body>
    <%- include ('./partials/cart/cartHeader'); %> 
    <%- include ('./partials/cart/cart_list'); %>
    <%- include ('./partials/cart/cartFooter'); %>
    <script defer src="../scripts/priceCalculator.js"></script>
</body>
</html>