<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <%- include('./partials/head/links'); %>
    <%- include('./partials/head/scripts'); %>
    <title>Food App</title>
</head>
<body>
    <%- include('./partials/index/header'); %>
    <%- include('./partials/index/navbar'); %>
    <%- include('./partials/index/meal'); %>
    <%- include('./partials/index/footer'); %>
    
    
    
    
</body>
</html>