<main>           
    <% for(let i = 0; i < cartList.length; i++) {%>
    <% let cart = cartList[i];%>
    <article>           
        <img src="<%= cart.img_url%>" alt="<%= cart.img_alt%>">
        <div class="plato-info">
            <input type="text" value="<%=cart.price%>" class="precio" readonly="true">&euro;
            <h5><%= cart.name%></h5>
            <p class="descripcion-plato"><%= cart.description%></p>
        </div>
        <div class="contadores">

            <form action="/changeQty/<%= cart._id%>" method="post">
                
                <button class="contador resta" type="button">&#45;</button>
                <label for="qty"></label>
                <input type="text" class="conta-cantidad" name="qty" value="<%=cart.qty%>"/>
                <button class="contador suma" type="button">&#43;</button>
                <input class="importe" type="submit" value="Quitar"/>

            </form>

        </div>
    </article>
    <% } %>            
</main>